.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95vh;
  margin: 30px;
  padding: 10px 50px;
  border-radius: 6px;
  background: white;
  font-size: 20px;
}

.listproduct-allproducts {
  width: 100%;
  height: 85vh;
  overflow-y: auto;
}

.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listproduct-format {
  align-items: center;
  font-weight: 500;
}

.listproduct-product-icon {
  height: 80px;
}

.listproduct-remove-icon {
  cursor: pointer;
  margin: auto;
}

.listproduct-allproducts {
  overflow-y: auto;
}

@media (max-width: 800px) {
  .list-product {
    width: auto;
    margin: 20px 10px;
    padding: 20px;
    height: auto;
  }

  .listproduct-format-main {
    display: none;
  }

  .listproduct-format {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    position: relative;
    background: #fcfcfc;
    border-radius: 10px;
  }

  .listproduct-product-icon {
    height: 100px;
    align-self: center;
    margin-bottom: 10px;
  }

  .listproduct-format p {
    font-size: 14px;
    width: 100%;
  }

  .listproduct-format p::before {
    content: attr(data-label);
    font-weight: 700;
    margin-right: 10px;
    color: #555;
    display: inline-block;
    width: 100px;
  }

  .listproduct-remove-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .list-product {
    box-sizing: border-box;
    width: 95%;
    height: 100vh;
    padding: 10px 30px;
    margin: 20px auto;
    overflow: auto;

  }

  .listproduct-format-main {
    padding: 10px 0px;
    color: #454545;
    font-size: 12px;
    width: 100%;
    font-size: x-small;

  }

  .listproduct-product-icon {
    height: 60px;
  }
}